@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

html {
  font-size: 62.5%;

  /* variables de couleur */
  --white-1: #fffef8;
  --white-2: #fffcd4;
  --blue-bg: #17adbd;
  --blue-2: #11b8c0;
  --blue-3: #21c9d1;
  --orange-1: #f17c57;
  --orange-2: #e26b46;
} /* =10px */

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {

  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: var(--blue-bg);
  font-family: "Hammersmith One", sans-serif;
  overflow-x: hidden;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__nav {
  display: flex;
}

.nav--link {
  text-decoration: none;
  color: var(--white-1);
  font-size: 1.8rem;
}

.button--link {
  background-color: var(--blue-3);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.button--link:hover {
  transition: all 0.4s;
  background-color: var(--blue-2);
}

.nav--text {
  padding: 12px 24px;
}

.description {
  width: 80%;
  height: 60vh;
}

.description h2 {
  font-size: 64px;
  color: #FFFEF8;
  margin-bottom: 16px;
  margin-top: 160px;
  font-weight: normal;
  letter-spacing: 2px;
}

.description span {
  font-size: 18px;
  color: #FFFCD4;
  font-weight: lighter;
}

.homePalm img{
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100vw;
  z-index: -1;
}

.test {
  height: 200px;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #21C9D1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webgl-content {
  position: absolute;
  width: 75%;
  height: 75vh;
  background-color: #21C9D1;
}


@media only screen and (max-width: 640px) {
  .description {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
  .description h2 {
    font-size: 42px;
    margin-bottom: 36px;
    margin-top: 60px;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }

  .homePalm img{
    bottom: -10px;
  }

  .logo--header {
    width: 60px;
  }

  .nav--link {
    font-size: 1.6rem;
  }
}

/* Page de création de l'âme */
.body--ame {
  overflow: hidden;
}

.container--ame {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.illu--guess {
  display: block;
  margin: auto;
}

.illu--palm-left {
  transform: scaleX(-1);
  position: absolute;
  left: 0;
  bottom: 15%;
}

.illu--palm-right, .illu--palm-left {
  position: absolute;
  right: 0;
  bottom: 15%;
}

.step--0 {
  display: flex;
  justify-content: center;
  padding-top: 180px;
}

.step {
  position: absolute;
  width: 100%;
  transition: all 0.4s;
}

.step--left {
  left: -100%;
}
.step--center {
  left: 0;
}
.step--right {
  left: 100%;
}

.d-none {
  display: none;
}

.container--question {
  margin-bottom: 140px;
}

.container--next {
  padding-top: 340px;
}

.text--question,
.text--result {
  color: var(--white-2);
  font-size: 2.4rem;
  text-align: center;
}

.button--start {
  background-color: var(--orange-1);
  display: inline-block;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.button--start:hover {
  background-color: var(--orange-2);
  transition: all 0.4s;
}

.button--start--text {
  padding: 18px 94px;
  font-size: 2.2rem;
  color: var(--white-1);
  cursor: pointer;
}

.container--responses {
  width: 800px;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 46px;
}

.response {
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--blue-3);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: inline-block;
  width: 395px;
  margin-bottom: 8px;
  border: solid 4px var(--blue-3);
}

.response:hover,
.button--result:hover {
  transition: all 0.4s;
  background-color: var(--blue-2);
}

.response--active {
  border: solid 4px rgba(255, 255, 255, 0.48);
}

.response--right {
  float: right;
}

.text--response,
.text--result {
  padding: 10px 0;
  font-size: 2.2rem;
  color: var(--white-1);
  text-align: center;
}

.text--response {
  text-transform: uppercase;
}

.button--next {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: var(--orange-1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
}

.button--next:hover {
  background-color: var(--orange-2);
  transition: all 0.4s;
}

.link--result {
  text-decoration: none;
}

.button--result {
  background-color: var(--blue-3);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 326px;
  margin: auto;
  margin-bottom: 8px;
  border-radius: 8px;
  border: solid 4px var(--blue-3);
}
.text--result {
  margin-right: 20px;
}

.illu--ame {
  width: 180px;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 640px) {
  .button--start--text {
    padding: 18px 94px;
    font-size: 1.8rem;
  }

  .illu--palm-left,
  .illu--palm-right {
    width: 150px;
    bottom: 50px;
  }

  .text--response,
  .text--result {
    font-size: 1.6rem;
  }

  .container--responses {
    width: 100px;
    padding-left: 0;
    padding-right: 0;
  }

  .container--question {
    margin-bottom: 80px;
  }

  .container--next {
    padding-top: 55vh;
  }

  .response {
    width: 355px;
    margin-left: calc((100% - 355px) / 2);
  }

  .response--right {
    float: none;
  }

  .illu--guess {
    width: 20%;
  }
}
